<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: '書名' %>
    <%= f.input :memo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
