<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @worktype.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @worktype.name %>
</p>

<p>
  <strong>Begin at:</strong>
  <%= @worktype.begin_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @worktype.end_at %>
</p>

<%= link_to 'Edit', edit_worktype_path(@worktype) %> |
<%= link_to 'Back', worktypes_path %>
