<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @department.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Employees count:</strong>
  <%= @department.employees_count %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
